# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: trailing-whitespace
        exclude: '^\.gitignore$|.*\.jinja2'
    -   id: end-of-file-fixer
        exclude: '.*\.jinja2'
    -   id: check-yaml
        exclude: examples/device_data/rpi\.yaml
    -   id: check-added-large-files

-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
    -   id: ruff
        args: [--fix]
    -   id: ruff-format
